#Q1.:-Explain with an example each when to use a for loop and a while loop

In [14]:
# Example of while loop
 """ while condition:
        code
        code
# Example of for loop
for variables_name in iterables:
          print(variables_name)

First letâ€™s explain what are loops; Loops are a way of repeating code without having to type it over and over again.

The while loop is a kind of a loop that keeps running while a condition is True.

The for loops keeps running for a specific number of times.

I will give you some example code in Python 3 to make sure you understand this right.
"""
#while loop:-
i = 1
while i<=18:
    print("You are still young")
    i = i+1
print("You are old enough now!")

#for loop:-

list_1 = [1,2,3,4,5,6,7,8,9,10,11]

for a in list_1:
    print(a**2)

In [ ]:
#Q2:-Write a python program to print the sum and product of the first 10 natural number using for while loop

In [15]:
i=1
sum=0
while i<=10:
    sum=sum+i
    i=i+1
print("Sum is",sum)

Sum is 55

In [ ]:
# Q3. Create a python program to compute the electricity bill for a household. 
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will 
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


# You are required to take the units of electricity consumed in a month from the user as input.


# Your program must pass this test case: when the unit of electricity consumed by the user in a month is 
# 310, the total electricity bill should be 2250.

In [1]:
units = int(input("Enter the number of units consumed: "))
if units <= 100:
    bill = units * 4.5
elif units <= 200:
    bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300:
    bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else:
    bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

print("Total electricity bill: Rs.", bill)

Enter the number of units consumed:  5

Total electricity bill: Rs. 22.5

In [34]:
#Q4):-Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print 
# that list.

In [40]:
n = int(input("Enter a number:-"))
l1 = [1,100]
for a in range(1,n+1):
    if a%4==0 or a%5==0:
            l1.append(a**2)
print(l1)

Enter a number:- 20

[1, 100, 16, 25, 64, 100, 144, 225, 256, 400]

In [44]:
l2 = []
n = 100
i=1
while i<=n:
    if(i%4==0 or i%5==0):
        l2.append(i)
    i = i+1
print("Cude number",l2)

Cude number [4, 5, 8, 10, 12, 15, 16, 20, 24, 25, 28, 30, 32, 35, 36, 40, 44, 45, 48, 50, 52, 55, 56, 60, 64, 65, 68, 70, 72, 75, 76, 80, 84, 85, 88, 90, 92, 95, 96, 100]

In [45]:
# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [2]:
s1 = "I want to become a data scientist"
s3 = s1.lower()
print(s1)
count = 0
l5 = ["a", "e", "i", "o", "u"]
for s2 in s1:
    if s2 in l5:
        count = count+1
print("Number vowels in given sentence is",count)

I want to become a data scientist
Number vowels in given sentence is 11

In [6]:
s1

'I want to become a data scientist'

In [8]:
s1.upper()

'I WANT TO BECOME A DATA SCIENTIST'

In [1]:
l = []

In [2]:
type(l)

list

In [4]:
for a in range(1,101):
    l.append(a)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [6]:
list_1 = [1,2,3,4,5,6,7,8,9,10,11]
for a in list_1:
    print(a**2)

1
8
27
64
125
216
343
512
729
1000
1331